name: SafeBlade Trader Bot

on:
  schedule:
    - cron: '0 20 * * 1-5' # TR saatiyle 23:00
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Python 3.12 Kurulumu
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'  # <-- BURAYI GÜNCELLEDİK
        
    - name: Kütüphaneleri Yükle
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Botu Başlat
      env:
        GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: python main.py
